<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quora posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1 class="headingLine" >Quora posts</h1>
    <a href="http://localhost:8080/posts/new" class="newPost">create new post</a>
    <% for(post of posts){ %>
   <div class="post">
     <h2 class="user"> @<%= post.username %> </h2> 
     <form method="post" action="/posts/<%=post.id%>?_method=DELETE"><button>Delete</button></form>
        <a href="http://localhost:8080/posts/<%=post.id%>" class="details" ><h3 class="content"> <%= post.content %> </h3></a>
        <a href="http://localhost:8080/posts/<%=post.id%>/edit" class="edit" >edit content</a>        
    </div>
<%}%>
<br>

<br><br>
</body>
</html>
